.main {
    width: 100%;
    height: auto;
    position: relative;
}
.main .contentWithPadding {
    padding-left: 278px;
}
.alertMessage {
    background-color: #4caf50;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}